<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">xinying.Z</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} Create by <a href="https://github.com/zxinying">郑欣颖</a></p>
          </div>
          <div class="footer-social">
            <ul class="list-reset">
              
              {% if site.instagram %}
              <li><a href="{{ site.instagram }}">Instagram</a></li>
              {% else %} {% endif %}

              {% if site.weibo %}
              <li><a href="{{ site.weibo }}">微博</a></li>
              {% else %} {% endif %}
              
              {% if site.weibo %}
              <li><a href="{{ site.zcool }}">站酷</a></li>
              {% else %} {% endif %}
              
              {% if site.xhs %}
              <li><a href="{{ site.xhs }}">小红书</a></li>
              {% else %} {% endif %}
              
            </ul>
          </div>
<!--           其他项目 -->
          <div class="other">
            <p>其他作品</p>
            <ul class="list-reset">
              <li><a href="http://color.zhengxinying.com/">Palette</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
